/* ===== SHARED BASICS ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header, .footer {
  background: #1976D2;
  color: white;
  padding: 20px;
  text-align: center;
}

.dashboard {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 25px;
  margin: 15px auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.row {
  display: flex;
  justify-content: space-between;
}

.small-card {
  width: 45%;
}

.full-card {
  width: 100%;
}

#map {
  height: 300px;
}

input, select, button {
  padding: 10px;
  margin: 8px;
}

/* ===== LOGIN PAGE ONLY ===== */

.login-body {
  background: #F4F9FF;
  text-align: center;
}

.login-header,
.login-footer {
  background: #1976D2;
  color: white;
  padding: 20px;
}

.login-main {
  min-height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 420px;
  padding: 40px 35px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card h2 {
  margin-bottom: 25px;
}

.login-card input,
.login-card select {
  width: 100%;
  max-width: 320px;
  margin-bottom: 18px;
}

.login-card button {
  width: 140px;
  background: #1976D2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
